<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <main class="container-fluid mt-4">
        <section class="container h-auto d-flex justify-content-center align-items-center ">
            <div class="w-75">

                <div class="card text-center">
                    <div class="card-header">
                      Informações
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Atividade de introdução</h5>
                      <p class="card-text">Desenvolvimento Web</p>
                      <p class="card-text"><span><b>Semestre:</b> 2024.1</span>
                      </p>
                      <p class="card-text">Matricula: 20231014040029</p>
                      <p class="card-text"><i>Nome:</i> Livia Vitória da Silva</p>

                      <a href="#" class="btn btn-primary">Repositório Git</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                      18/03/2024
                    </div>
                  </div>
            </div>

'
        </section>
        <hr>
        <section>
            <h1 class="mt-4">Aplicação de <u> Enquetes </u> - DSWeb 2024.1 </h1>

            {%  if lista_enquetes %}
            <h3>Lista de enquetes cadastradas</h3>
                <ul>
                    {% for p in lista_enquetes %}
                    <li> <a href="">{{p.texto }} </a></li>
                {% endfor %}
                </ul>


            {% else %}

                <h5> Nenhuma enquete cadastrada</h5>

            {% endif %}

        </section>
    </main>

</body>
</html>