<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <main class="container-fluid mt-4">

        <h1>Aplicação de enquetes DSWeb 2024.1</h1>
        <h2>PARCIAL da Enquete #{{ enquete.id }} </h1>

        <h3>{{ enquete.texto }}</h3>
        <p>{{ enquete.data_pub  }}</p>


        <p> Quantidade de votos por alternativa: </p>


        {% if  enquete.alternativa_set.all %}

                <ul>

                {% for a in enquete.alternativa_set.all %}
                    <li>
                        <p>{{a.texto}} == {{ a.quant_votos }} voto{{ a.quant_votos | pluralize }}</p>
                    </li>
                {%  endfor %}
                </ul>


        {% else %}
            <p> Nenhuma alternativa cadastrada </p>
        {% endif %}

        <hr>
        <a href="{% url "detalhes" enquete.id %}">Votar novamente</a>
        <a href="/enquetes/">< Voltar</a>

 </main>

</body>
</html>